/* Custom styles for the DoBu Martial Arts website */

/* @import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat:wght@500&family=Oswald:wght@200..700&family=Patrick+Hand&family=Roboto+Condensed:wght@700&display=swap'); */

body {
    font-family: 'Open Sans', sans-serif;
}

.header-section {
    background-image: url('img/profile.jpg');
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/profile.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: clamp(50vh, 100vh, 100vh);
}

.header-section .header-content .content-row {
    height: 100vh;
}

h1 {
    color: #fff;
    font-size: 25px;
}

.header-content-btn {
    color: white;
    border: 2px solid red;
    padding: 8px 20px;
    transition: background-color 0.2s;
}

.header-content-btn:hover {
    color: white;
    background-color: red;
}

.header-content-btn.scrolled {
    display: none;
}

.header-content .keyword {
    color: red;
}

.header-content .content-content {
    padding-left: 50px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
}

.header-content .content-column {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgba(18, 17, 17, 0.8); */
    background-color: transparent;
    transition: background-color 0.7s;

    clip-path: polygon(28% 0, 100% 0, 100% 100%, 25% 100%, 0 61%);
    /* clip-path: polygon(28% 17%, 100% 17%, 100% 100%, 25% 100%, 0 57%); */
    /* clip-path: polygon(52% 14%, 0% 28%, 14% 58%, 0% 69%, 12% 93%, 100% 100%, 100% 0%); */
    /* clip-path: polygon(52% 14%, 0% 28%, 14% 58%, 0% 69%, 0 100%, 100% 100%, 100% 0%); */
}

.header-content .pageLoaded {
    background-color: rgba(18, 17, 17, 0.9);

}

/* Media query to target the md breakpoint and smaller */
@media (max-width: 768px) {
    .header-content .content-column {
        clip-path: none;
    }

    .header-content .content-content {
        padding: 0;
    }

}


/*  Navigation and Footer */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    /* Initially transparent */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition */
}

/* Use this css for manipulating navbar - hide when page is scrolled */
/* .navbar.hidden {
    display: none;
} */

.navbar.collapse-condition {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar.collapse-condition .nav-link {
    color: black;
}

.collapse-condition .custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 0, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent background on scroll */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);

    /* Custom styles for the toggler (hamburger) */
    .custom-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 0, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
    }
}

.navbar.scrolled .navbar-brand img {
    background-image: url('img/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
}

.navbar.scrolled .nav-link {
    color: black;
}

.navbar.scrolled .nav-link:hover,
.navbar .nav-link:hover {
    color: red;
}

/* adjust the size of logo when responsive */
.navbar-brand img {
    height: 60px;
}

@media only screen and (max-width : 500px) {
    .navbar-brand img {
        height: 40px;
        transition: height 1s;
    }
}

.navbar-brand img {
    transition: height 1s;
}

/*  */

/* Custom styles for dropdown hover and icon rotation */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown:hover .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.nav-item.dropdown .fa-chevron-down {
    transition: transform 0.3s;
}

/*  */

.dropdown-menu {
    position: relative;
    left: 30px;
    margin-top: -1px;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-menu .dropdown-item {
    border-radius: 5px;
    padding: 15px 0 15px 20px;
}

.dropdown-menu .dropdown-item:hover {
    /* background-color: rgb(246, 190, 190); */
    background-color: red;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 15px;
}

.nav-link.btn {
    background-color: red;
    border: none;
    padding: 8px 20px;
}

.nav-link.btn:hover {
    background-color: rgb(188, 10, 10);
}

/* Custom styles for the toggler (hamburger) */
.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: rgb(225, 4, 4);
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer ul li a:hover {
    text-decoration: underline;
    color: red;
}

.footer .row {
    margin-bottom: 15px;
}

.footer p {
    margin: 0;
}

.footer .contact-info {
    color: white;
}