@import url(nav.css);
@import url(footer.css);

/* custom navbar for this page */
.custom-toggler .navbar-toggler-icon {
    /* white */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar.scrolled .custom-toggler .navbar-toggler-icon,
.collapse-toggler-focused .custom-toggler .navbar-toggler-icon {
    /* black (default) */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgb(7,7,8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

body {
    background-color: azure;
}

.header-content {
    background-color: black;
}

.header-content .row {
    padding-top: 30vh;
    color: white
}

.header-content .sub-heading-row {
    color: black;
}

.header-content .extra-row {
    padding-bottom: 10vh;
}

.header-content .heading-row .heading-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .heading-row .heading-col .heading-text,
.sub-heading-text {
    width: 90%;
}

.header-content .sub-heading-row .content-column {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 75vh;
}

.sub-heading-row .content-column .content-image {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sub-heading-row .content-column .content-image img {
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: center;
}

.sub-heading-row .content-column .content-description {
    position: absolute;
    z-index: 2;
    background-color: bisque;
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

/*  */
.content-image-area .content-image {
    height: 70vh;
    width: 100%;
}

.main-content .row-to-order {
    display: flex;
    flex-direction: row-reverse;

    .content-image-area img {
        clip-path: polygon(0% 0%, 89% 0, 100% 30%, 89% 48%, 84% 46%, 94% 100%, 0% 100%);

    }
}

.main-content .content-image-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(100% 0%, 11% 0, 0 30%, 11% 48%, 16% 46%, 6% 100%, 100% 100%);
}

.main-content .content-description-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animations */
/* Make the content appear when the page is scrolled to its area */
/* Hide the content initially */
.animate-on-scroll {
    opacity: 0;
    /* transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out; */
    transition: opacity 1s ease-out;
    transition-delay: 0.3s;
}

.animate-delayed {
    transition: opacity 1s ease-out;
    transition-delay: 0.6s;
}

/* When the element is in the viewport, apply this class */
.in-view {
    opacity: 1;
    /* transform: translateY(0); */
}

/* ---- end of animations ---- */

/* media queries */
@media (max-width: 576px) {

    .main-content .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .content-image-area .content-image {
        height: 50vh;
    }

    .main-content .content-image-area img {
        clip-path: none;
    }

    .main-content .row-to-order .content-image-area img {
        clip-path: none;
    }
}

@media (max-width: 768px) {

    .main-content .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-content .content-image-area img {
        clip-path: none;
    }

    .main-content .row-to-order .content-image-area img {
        clip-path: none;
    }
}