.footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: rgb(225, 4, 4);
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer ul li a:hover {
    text-decoration: underline;
    color: red;
}

.footer .row {
    margin-bottom: 15px;
}

.footer p {
    margin: 0;
}

.footer .contact-info {
    color: white;
}